<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.solvd.laba.database.mapper.ElectricCarMapper">
    <resultMap id="electricCarResultMap"
               type="com.solvd.laba.database.model.ElectricCarModel">
        <id property="car_id" column="CAR_ID"/>
        <result property="brand" column="CAR_BRAND"/>
        <result property="value" column="value"/>

    </resultMap>

</mapper>